<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        {% block stylesheets %}
        {% endblock %}
    
        <title>{% block title %}Factura Symfonyss{% endblock %}</title>
    
        <!-- Latest compiled and minified CSS -->
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
            <link href="{{ asset('assets/bootstrap/css/custom.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
            <link href="{{ asset('assets/css/styles.css') }}" type="text/css" rel="stylesheet" />
        <!-- Latest compiled and minified JavaScript -->
    
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

	<body class="nav-md">
		<div class="container body">
			<div class="main_container">
			    <!-- top navigation -->
                    {% include 'app/topnav.html.twig' %}
			    <!-- /top navigation -->
			    
			    <!-- left navigation -->
			        {% include 'app/leftnav.html.twig' %}
                <!-- left navigation -->
                
			    <!-- page content -->
						<div class="right_col" role="main">
							<div class="clearfix"></div>
							{% for message in app.session.flashbag().get('status') %}
									<div class="alert alert-success">{{ message }}</div>
							{% endfor %}
					{% block content %} 
							Content Default
					{% endblock %}
			    <!-- /page content -->

				<!-- footer content -->
				<footer>
					<div class="pull-right">
                        Desarrollado por <a target="_blank" href="http://www.mteralv.com">© MTerAlv.com</a>
					</div>
					<div class="clearfix"></div>
				</footer>
				<!-- /footer content -->
			</div>
		</div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="{{ asset('assets/js/custom.min.js') }}"></script>-->
    <script src="{{ asset('assets/js/jquery-ias.min.js') }}"></script>
    
    {% block javascripts %}{% endblock %}
    
    <script type="text/javascript">
        {% for js in app.session.flashbag.get('javascript') %}
        {% autoescape false %}{{ js }}{% endautoescape %}
        {% endfor %}
    </script>
    </body>
</html>