<div class="top_nav">
    <div class="nav_menu">
        <nav>
            <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
            </div>

            <ul class="nav navbar-nav navbar-right">
                <li class="">
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                        {{app.user.name}}{{app.user.surname}}
                        <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
    			        <li>
                        </li>
                        <li>
                            <a href="#">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                                &nbsp;
                                <span>Configuración</span>
                            </a>
    			        </li>
                        <li role="separator" class="divider"></li>
            			<li>
                            <a href="">
                                <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                &nbsp;
                                Ayuda
                            </a>
                        </li>
            			<li>
                            <a href="{{ path('fos_user_security_logout') }}">
                                <i class="fa fa-sign-out"></i>
                                &nbsp;
                                Cerrar Sesión
                            </a>
                        </li>
        		    </ul>
	            </li>

		        <li role="presentation" class="dropdown">
		            <a href="javascript:;" class="dropdown-toggle info-number" data-toggle="dropdown" aria-expanded="false">
			        <i class="fa fa-envelope-o"></i>
			        <span class="badge bg-green label-notifications-msg"></span>
                    </a>
                    <ul id="menu1" class="dropdown-menu list-unstyled msg_list" role="menu">
        			    <li>
        			        <a>
            				    <span class="image"></span>
            				    <span>
            				          <span>John Smith</span>
            				          <span class="time">3 mins ago</span>
            			    	</span>
            				    <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
            				    </span>
        		            </a>
        		        </li>
        			    <li>
        			        <a>
            				    <span class="image"></span>
            				    <span>
            				          <span>John Smith</span>
            				          <span class="time">3 mins ago</span>
            			    	</span>
            				    <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
            				    </span>
        		            </a>
        		        </li>
        			    <li>
        			        <a>
            				    <span class="image"></span>
            				    <span>
            				          <span>John Smith</span>
            				          <span class="time">3 mins ago</span>
            			    	</span>
            				    <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
            				    </span>
        		            </a>
        		        </li>
        			    <li>
        			        <a>
            				    <span class="image"></span>
            				    <span>
            				          <span>John Smith</span>
            				          <span class="time">3 mins ago</span>
            			    	</span>
            				    <span class="message">
                                    Film festivals used to be do-or-die moments for movie makers. They were where...
            				    </span>
        		            </a>
        		        </li>
        			    <li>
        			        <div class="text-center">
            				    <a>
            	                    <strong>See All Alerts</strong>
            				        <i class="fa fa-angle-right"></i>
            				    </a>
        		            </div>
        			    </li>
		            </ul>
                </li>
	        </ul>
	    </nav>
    </div>
</div>