<!DOCTYPE html>
<html lang="es">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" href="favicon.ico">
        {% block stylesheets %}
        {% endblock %}
        <link href="{{ asset('assets/temp/vendors/bootstrap/dist/css/bootstrap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/temp/vendors/font-awesome/css/font-awesome.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/temp/vendors/nprogress/nprogress.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/temp/vendors/iCheck/skins/flat/green.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/temp/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/temp/vendors/jqvmap/dist/jqvmap.min.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/temp/vendors/bootstrap-daterangepicker/daterangepicker.css') }}" type="text/css" rel="stylesheet" />
        <link href="{{ asset('assets/temp/build/css/custom.min.css') }}" type="text/css" rel="stylesheet" />                                
    
        <title>{% block title %}Factura Symfony{% endblock %}</title>
    </head>

    <body class="nav-md">
        <div class="container body">
          <div class="main_container">
            <!-- left navigation -->
            {% include 'app/dashboard/leftnav.html.twig' %}
            <!-- /left navigation -->
    
            <!-- top navigation -->
            {% include 'app/dashboard/topnav.html.twig' %}
            <!-- /top navigation -->
    
            <!-- page content -->
            {% block content %} 
            {% endblock %}
            <!-- /page content -->
    
            <!-- footer content -->
            {% include 'app/dashboard/footer.html.twig' %}
            <!-- /footer content -->
            

          </div>
        </div>
        <script src="{{ asset('assets/temp/vendors/jquery/dist/jquery.min.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/bootstrap/dist/js/bootstrap.min.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/fastclick/lib/fastclick.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/nprogress/nprogress.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/Chart.js/dist/Chart.min.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/gauge.js/dist/gauge.min.js') }}"></script>   
        <script src="{{ asset('assets/temp/vendors/bootstrap-progressbar/bootstrap-progressbar.min.js') }}"></script>    
        <script src="{{ asset('assets/temp/vendors/iCheck/icheck.min.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/skycons/skycons.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/Flot/jquery.flot.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/Flot/jquery.flot.pie.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/Flot/jquery.flot.time.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/Flot/jquery.flot.stack.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/Flot/jquery.flot.resize.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/flot.orderbars/js/jquery.flot.orderBars.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/flot-spline/js/jquery.flot.spline.min.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/DateJS/build/date.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/jqvmap/dist/jquery.vmap.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/jqvmap/dist/maps/jquery.vmap.world.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/jqvmap/examples/js/jquery.vmap.sampledata.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/moment/min/moment.min.js') }}"></script>
        <script src="{{ asset('assets/temp/vendors/bootstrap-daterangepicker/daterangepicker.js') }}"></script>
        <script src="{{ asset('assets/temp/build/js/custom.min.js') }}"></script>
    </body>
</html>